.compo1-component {
  text-align: center;
  border: 2px solid #bbb;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;

}