<div class="m-4">
  <span>Filter: </span>

  <input type="radio" class="me-2" name="filter" value="All" [(ngModel)]="selectRadioButton"
    (change)="changedFilterRadioButton()">
  <span class="me-2">{{'All Product('+all+')'}}</span>

  <input type="radio" class="me-2" name="filter" value="available" [(ngModel)]="selectRadioButton"
    (change)="changedFilterRadioButton()">
  <span class="me-2">{{'Available Product('+available+')'}}</span>

  <input type="radio" class="me-2" name="filter" value="not Available" [(ngModel)]="selectRadioButton"
    (change)="changedFilterRadioButton()">
  <span>{{'Not Available Product('+notAvailable+')'}}</span>
</div>
