<div class="container mt-2  m-auto text-center">
  <h2 class="mb-2">All courses</h2>
  <ng-container *ngFor="let c of course">
    <div class=" d-inline-flex m-auto">
      <div class="card m-5 p-3" style="width: 18rem;">
        <div>
          <img [src]="c.image" alt="" style="height: 140px; width: 220px;">
        </div>
        <div class="card-header text-center">
          <h4 class="card-title">{{ c.name }}</h4>
        </div>
        <div class="card-text">
          <p>{{ c.description }}</p>
        </div>
        <div class="card-body d-flex m-2">
          <div class="course-price fw-bold w-50"> {{ c.price }}</div>
          <div class="course-color fw-bold w-50" [ngStyle]="{color: c.type === 'Free' ? 'green' : 'red'}"> {{ c.type }}
          </div>
        </div>
        <div class="course-button d-flex gap-1">
          <button class="btn btn-danger w-50 ">Buy Now</button>
          <button class="btn btn-info w-50" [routerLink]="['/courses/course', c.id]">Show Details</button>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>