<h1>Welcome to Angular 13 Tutorial</h1>
<div class="wrapper">
  <app-navbar></app-navbar>
  <div app-header></div>
  <div class="app-notification"></div>
  <app-search></app-search>
</div>

<app-binding></app-binding>
<hr>
<app-directive-component></app-directive-component>

<div class="mt-5 text-center">
  <h1>inter component communication</h1>
  <app-header2></app-header2>
  <app-product-list></app-product-list>

  <h1 class="mt-3">inter component communication example 2</h1>
  <app-header2></app-header2>
  <app-course></app-course>

</div>

<h1 class="mt-4">template reference variable :</h1>
<app-template-variable></app-template-variable>

<h1 class="mt-4">ViewChild decorator :</h1>

<app-viewchild></app-viewchild>

<h1 class="mt-4">life Cycle Hooks :</h1>
<app-life-cycle></app-life-cycle>

<h1 class="mt-4">content child decorator :</h1>

<div class="container">
  <app-demo-child>
    <h4 #heading4>this is content child value</h4>
  </app-demo-child>
</div>

<h1 class="mt-4">custom directive :</h1>

<div class="container text-center p-2 m-3">
  <h5 setBackgroundAttribute>custom attribute directive</h5>

  <h5 appHighlightRender>renderer directive</h5>

  <div appHoverHostListnerDirective>
    <h5>HostListener decorator </h5>
  </div>

  <div appBetterHighlightHostBindingDirective>
    <h5>HostBinding decorator </h5>
  </div>

  <div [appAppClass]="{wrapper: false, 'change-font': true}">
    <p> custom appClass directive </p>
  </div>

  <h5 class="mt-2"> conditional directive in angular </h5>

  <app-video-card></app-video-card>

  <div>
    <h5 appStyle [setStyle]="{backgroundColor: 'yellow', color: 'red'}"> custom appStyle directive </h5>
  </div>

  <div class="container" [ngSwitch]="occupation">
    <p *ngSwitchCase="'teacher'">this paragraph is displayed teacher occupation</p>
    <p *ngSwitchCase="'designer'">this paragraph is displayed designer occupation</p>
    <p *ngSwitchCase="'developer'">this paragraph is displayed developer occupation</p>
    <p *ngSwitchDefault>this paragraph is displayed no occupation</p>
  </div>


</div>

<h1 class="mt-4">Service :</h1>

<div class="container text-center p-3 m-3 d-flex justify-content-center gap-3">
  <app-javascript></app-javascript>
  <app-angular></app-angular>


</div>

<div class="mt-3 mb-2 container d-flex align-items-center justify-content-center">
  <app-user></app-user>
</div>