<div class="wrapper">
  <app-container></app-container>
</div>

<div style="margin: 20px auto; width: 700px;">
  <div class="app-compo">
    <h2>App Component</h2>
    <p>This is <b>App</b> component</p>
    <button>Button</button>
  </div>

  <div class="component-container">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
</div>

<div class="container">
  <h2>New in Phone</h2>

  <div class="more-product d-flex justify-content-center gap-3">
    <app-new-product>
      <div class="card-header">
        <h4 class="card-title">New in Iphone</h4>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Show More</button>
      </div>
    </app-new-product>

    <app-new-product>
      <div class="card-header">
        <h4 class="card-title">New in sumsung</h4>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Show More</button>
      </div>
    </app-new-product>

    <app-new-product>
      <div class="card-header">
        <h4 class="card-title">New in Apple</h4>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Show More</button>
      </div>
    </app-new-product>

    <app-new-product>
      <div class="card-header">
        <h4 class="card-title">New in MI</h4>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Show More</button>
      </div>
    </app-new-product>
  </div>
</div>