<div class="mt-4">
  <span class="me-2">Filter Course: </span>

  <input type="radio" name="filter" value="All" [(ngModel)]="onSelectedRadioButton" (change)=" onChangeRadio ()">
  <span class="me-2">{{ 'All Course ('+all+')' }}</span>

  <input type="radio" name="filter" value="Free" [(ngModel)]="onSelectedRadioButton" (change)=" onChangeRadio ()">
  <span class="me-2">{{ 'Free Course('+free+')' }}</span>

  <input type="radio" name="filter" value="Premium" [(ngModel)]="onSelectedRadioButton" (change)=" onChangeRadio ()">
  <span class="me-2">{{ 'Premium Course('+premium+')' }}</span>
</div>